# Homework 1
## Basic descriptive information and plots for our selected dataset

### Daniel Alonso and Ander Iturburu

#### Data extracted from <a href="https://www.kaggle.com/c/titanic/overview">kaggle titanic dataset challenge</a>

In [15]:
install.packages(c('dplyr', 'fitdistrplus', 'PerformanceAnalytics','reshape2','ggmosaic','vcd','EnvStats'))

Installing packages into ‘/home/dreth/R/x86_64-pc-linux-gnu-library/4.0’
(as ‘lib’ is unspecified)

In [120]:
library(dplyr)
library(ggplot2)
library(fitdistrplus)
library(PerformanceAnalytics)
library(reshape2)
library(vcd)
library(EnvStats)

In [121]:
# setting plot sizes
options(repr.plot.width = 14, repr.plot.height = 8)

In [122]:
# importing data
data = read.csv('data/titanic.csv')

In [123]:
# looking at the data
head(data)

  PassengerId Survived Pclass
1 1           0        3
2 2           1        1
3 3           1        3
4 4           1        1
5 5           0        3
6 6           0        3
  Name
1 Braund, Mr. Owen Harris
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer)
3 Heikkinen, Miss. Laina
4 Futrelle, Mrs. Jacques Heath (Lily May Peel)
5 Allen, Mr. William Henry
6 Moran, Mr. James
  Sex     Age SibSp Parch Ticket              Fare    Cabin            Embarked
1 male    22  1     0     A/5 21171            7.2500                  S
2 female  38  1     0     PC 17599            71.2833 C85              C
3 female  26  0     0     STON/O2. 3101282     7.9250                  S
4 female  35  1     0     113803              53.1000 C123             S
5 male    35  0     0     373450               8.0500                  S
6 male    NA  0     0     330877               8.4583                  Q

<img src="img/definition of variables.png" style="width:500px;">

### VARIABLES:

#### ID:

- PassengerId

#### OTHER:

- Name
- Ticket
- Cabin

#### CONTINUOUS:

- Fare
- Age

#### DISCRETE:

- SibSp
- Sex
- Survived
- Pclass
- parch




#### Variable Notes

**pclass**: A proxy for socio-economic status (SES)

- 1st = Upper
- 2nd = Middle
- 3rd = Lower

**age**: Age is fractional if less than 1. If the age is estimated, is it in the form of xx.5

**sibsp**: The dataset defines family relations in this way...

- Sibling = brother, sister, stepbrother, stepsister
- Spouse = husband, wife (mistresses and fiancés were ignored)

**parch**: The dataset defines family relations in this way...

- Parent = mother, father
- Child = daughter, son, stepdaughter, stepson

note: Some children travelled only with a nanny, therefore parch=0 for them.

In [124]:
# ommitting nans
data_n <- na.omit(data)

## Histograms:

In [125]:
# Fare
png(file="./plots/fare_hist.png", width=1200, height=800)
hist(data$Fare)
dev.off()

png
  2

In [126]:
# Age
png(file="./plots/age_hist.png", width=1200, height=800)
hist(data$Age)
dev.off()

png
  2

## fitting distributions to data:

In [127]:
# Age
png(file="./plots/age_fitdist.png", width=1200, height=800)
plot(summary(fitdist(data_n$Age,"norm")))
dev.off()

png
  2

In [128]:
# Age
png(file="./plots/fare_fitdist.png", width=1200, height=800)
plot(summary(fitdist(data_n$Fare+1,"gamma")))
dev.off()

png
  2

## Quantiles:

In [129]:
# boxplots
png(file="./plots/age_boxplot.png", width=700, height=1200)
options(repr.plot.width = 8, repr.plot.height = 14)
five <- data.frame(x=rep(1,5), five=fivenum(data_n$Age))
ggplot(data=data_n, aes(x=0, y=data_n$Age)) + 
    geom_boxplot() + 
    theme(text = element_text(size=18)) +
    ylab("Age") +
    scale_x_discrete(breaks = NULL) +
    geom_text(data=five, aes(x=0, y=five, label=five),nudge_x =0.5)
dev.off()

png
  2

In [130]:
# boxplots
png(file="./plots/fare_boxplot.png", width=700, height=1200)
options(repr.plot.width = 8, repr.plot.height = 14)
five <- data.frame(x=rep(1,5), five=fivenum(data_n$Fare))
ggplot(data=data_n, aes(x=0, y=data_n$Fare)) + 
    geom_boxplot() + 
    theme(text = element_text(size=18)) +
    ylab("Fare") +
    scale_x_discrete(breaks = NULL) +
    geom_text(data=five, aes(x=0, y=five, label=five),nudge_x =0.5)
dev.off()

png
  2

In [131]:
# fare quantiles
png(file="./plots/fare_quants.png", width=800, height=500)
options(repr.plot.width = 14, repr.plot.height = 8)
plot(quantile(data_n$Fare))
dev.off()

png
  2

In [132]:
# fare quantiles
png(file="./plots/age_quants.png", width=800, height=500)
options(repr.plot.width = 14, repr.plot.height = 8)
plot(quantile(data_n$Age))
dev.off()

png
  2

## relationships between variables: correlations

In [133]:
# age vs fare
png(file="./plots/fare_vs_age_scatter_log.png", width=800, height=500)
log_data_n = data_n %>% mutate(logAge = log(Age), logFare = log(Fare+100))
ggplot(data=log_data_n, aes(x=logFare, y=logAge)) + 
    geom_point() +
    theme(text = element_text(size=18))
dev.off()

png
  2

In [134]:
# checking correlation between the variables using a spearman correlation coefficient
cols <- data_n %>% dplyr::select(Age, Fare)
cor(cols, method="spearman")

     Age       Fare
Age  1.0000000 0.1350512
Fare 0.1350512 1.0000000

In [135]:
# checking correlation for all the numerical variables using a performance analytics plot
png(file="./plots/fare_vs_age_performanceanalytics.png", width=800, height=500)
pa <- data_n %>% dplyr::select(Age, Fare)
chart.Correlation(pa, histogram=TRUE, pch=19, method="spearman")
dev.off()

Warning message in cor.test.default(as.numeric(x), as.numeric(y), method = method):
“Cannot compute exact p-value with ties”

png
  2

## categorical variables

### proportions:

In [200]:
# proportions for sex
# sumarizing fare, survived, age by mean
sex <- prop.table(table(data_n$Sex))
sex <- data.frame(sex) %>%

  Var1    Freq
1 female  0.3655462
2 male    0.6344538

In [199]:
ggplot(sex)

ERROR: Error: `data` must be a data frame, or other object coercible by `fortify()`, not an S3 object with class table

## Grouped categorical variables

### sex

In [136]:
head(data)

  PassengerId Survived Pclass
1 1           0        3
2 2           1        1
3 3           1        3
4 4           1        1
5 5           0        3
6 6           0        3
  Name
1 Braund, Mr. Owen Harris
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer)
3 Heikkinen, Miss. Laina
4 Futrelle, Mrs. Jacques Heath (Lily May Peel)
5 Allen, Mr. William Henry
6 Moran, Mr. James
  Sex     Age SibSp Parch Ticket              Fare    Cabin            Embarked
1 male    22  1     0     A/5 21171            7.2500                  S
2 female  38  1     0     PC 17599            71.2833 C85              C
3 female  26  0     0     STON/O2. 3101282     7.9250                  S
4 female  35  1     0     113803              53.1000 C123             S
5 male    35  0     0     373450               8.0500                  S
6 male    NA  0     0     330877               8.4583                  Q

In [137]:
# sumarizing fare, survived, age by mean
sex <- data_n %>% group_by(Sex) %>% summarize(Fare = mean(Fare), Age = mean(Age))

# melt
sex <- melt(sex, id.vars=c("Sex"), measure.vars=c("Fare","Age")) %>% mutate(variable = as.character(variable))
head(sex)

# plotting lines for the 3 variables selected
png(file="./plots/group_sex_fare_age_bar.png", width=625, height=500)
options(repr.plot.width = 10, repr.plot.height = 8)
ggplot(sex, aes(y=value, x=variable, fill=Sex)) + 
  geom_bar(position="dodge", stat="identity") +
  theme(text = element_text(size=18))
dev.off()

`summarise()` ungrouping output (override with `.groups` argument)

  Sex     variable value
1 female  Fare     47.58276
2 male    Fare     27.26884
3 female  Age      27.91571
4 male    Age      30.72664

png
  2

In [138]:
# sumarizing survived by mean
sex <- data_n %>% group_by(Sex) %>% summarize(Survived = mean(Survived))

head(sex)

# sex groupby survive
png(file="./plots/group_sex_survived.png", width=500, height=500)
options(repr.plot.width = 8, repr.plot.height = 8)
ggplot(sex, aes(y=Survived, x=Sex, fill=Sex)) + 
  geom_bar(position="dodge", stat="identity")+
  theme(text = element_text(size=18))
dev.off()

`summarise()` ungrouping output (override with `.groups` argument)

  Sex     Survived
1 female  0.7547893
2 male    0.2052980

png
  2

### pclass

In [139]:
# sumarizing fare, survived, age by mean
pclass <- data_n %>% group_by(Pclass) %>% summarize(Fare = mean(Fare), Age = mean(Age))

# melt
pclass <- melt(pclass, id.vars=c("Pclass"), measure.vars=c("Fare","Age")) %>%
  mutate(variable = as.character(variable), Pclass = as.character(Pclass))
head(pclass)

# plotting lines for the 3 variables selected
png(file="./plots/group_pclass_fare_age_bar.png", width=625, height=500)
options(repr.plot.width = 10, repr.plot.height = 8)
ggplot(pclass, aes(y=value, x=variable, fill=Pclass)) + 
  geom_bar(position="dodge", stat="identity") +
  theme(text = element_text(size=18))
dev.off()

`summarise()` ungrouping output (override with `.groups` argument)

  Pclass variable value
1 1      Fare     87.96158
2 2      Fare     21.47156
3 3      Fare     13.22944
4 1      Age      38.23344
5 2      Age      29.87763
6 3      Age      25.14062

png
  2

In [140]:
# sumarizing survived by mean
pclass <- data_n %>% group_by(Pclass) %>% summarize(Survived = mean(Survived)) %>% mutate(Pclass = as.character(Pclass))

head(pclass)

# sex groupby survive
png(file="./plots/group_pclass_survived.png", width=500, height=500)
options(repr.plot.width = 8, repr.plot.height = 8)
ggplot(pclass, aes(y=Survived, x=Pclass, fill=Pclass)) + 
  geom_bar(position="dodge", stat="identity")+
  theme(text = element_text(size=18))
dev.off()

`summarise()` ungrouping output (override with `.groups` argument)

  Pclass Survived
1 1      0.6559140
2 2      0.4797688
3 3      0.2394366

png
  2

### Embarked

In [154]:
# sumarizing fare, survived, age by mean
embarked <- data_n %>% group_by(Embarked) %>% summarize(Fare = mean(Fare), Age = mean(Age)) %>%
 filter(Embarked != '')

# melt
embarked <- melt(embarked, id.vars=c("Embarked"), measure.vars=c("Fare","Age")) %>%
  mutate(variable = as.character(variable))
embarked

# plotting lines for the 3 variables selected
png(file="./plots/group_embarked_fare_age_bar.png", width=625, height=500)
options(repr.plot.width = 10, repr.plot.height = 8)
ggplot(embarked, aes(y=value, x=variable, fill=Embarked)) + 
  geom_bar(position="dodge", stat="identity") +
  theme(text = element_text(size=18))
dev.off()

`summarise()` ungrouping output (override with `.groups` argument)

  Embarked variable value
1 C        Fare     68.29677
2 Q        Fare     18.26578
3 S        Fare     27.47628
4 C        Age      30.81477
5 Q        Age      28.08929
6 S        Age      29.44540

png
  2

In [169]:
# sumarizing survived by mean
embarked <- data_n %>% group_by(Embarked) %>% summarize(Survived = mean(Survived)) %>% filter(Embarked != '')
head(embarked)

# sex groupby survive
png(file="./plots/group_embarked_survived.png", width=500, height=500)
options(repr.plot.width = 8, repr.plot.height = 8)
ggplot(embarked, aes(y=Survived, x=Embarked, fill=Embarked)) + 
  geom_bar(position="dodge", stat="identity")+
  theme(text = element_text(size=18))
dev.off()

`summarise()` ungrouping output (override with `.groups` argument)

  Embarked Survived
1 C        0.6076923
2 Q        0.2857143
3 S        0.3628159

png
  2

### Survived

In [162]:
# sumarizing fare, survived, age by mean
survived <- data_n %>% group_by(Survived) %>% summarize(Fare = mean(Fare), Age = mean(Age))

# melt
survived <- melt(survived, id.vars=c("Survived"), measure.vars=c("Fare","Age")) %>%
  mutate(variable = as.character(variable), Survived = as.character(Survived))
survived

# plotting lines for the 3 variables selected
png(file="./plots/group_survived_fare_age_bar.png", width=625, height=500)
options(repr.plot.width = 10, repr.plot.height = 8)
ggplot(survived, aes(y=value, x=variable, fill=Survived)) + 
  geom_bar(position="dodge", stat="identity") +
  theme(text = element_text(size=18))
dev.off()

`summarise()` ungrouping output (override with `.groups` argument)

  Survived variable value
1 0        Fare     22.96546
2 1        Fare     51.84321
3 0        Age      30.62618
4 1        Age      28.34369

png
  2

In [178]:
# sumarizing sibsp by mean if sibsp >= 1
survived <- data_n %>% group_by(Survived) %>% 
 filter(SibSp >= 1) %>%
 summarize(SibSp = mean(SibSp)) %>% 
 mutate(Survived = as.character(Survived))
head(survived)

# sex groupby survive
png(file="./plots/group_survived_sibsp_ONE_plus.png", width=500, height=500)
options(repr.plot.width = 8, repr.plot.height = 8)
ggplot(survived, aes(y=SibSp, x=Survived, fill=Survived)) + 
  geom_bar(position="dodge", stat="identity")+
  theme(text = element_text(size=18))
dev.off()

`summarise()` ungrouping output (override with `.groups` argument)

  Survived SibSp
1 0        1.742188
2 1        1.243478

png
  2

In [180]:
# sumarizing sibsp by mean if sibsp >= 1
survived <- data_n %>% group_by(Survived) %>% 
 filter(Parch >= 1) %>%
 summarize(Parch = mean(Parch)) %>% 
 mutate(Survived = as.character(Survived))
head(survived)

# sex groupby survive
png(file="./plots/group_survived_parch_ONE_plus.png", width=500, height=500)
options(repr.plot.width = 8, repr.plot.height = 8)
ggplot(survived, aes(y=Parch, x=Survived, fill=Survived)) + 
  geom_bar(position="dodge", stat="identity")+
  theme(text = element_text(size=18))
dev.off()

`summarise()` ungrouping output (override with `.groups` argument)

  Survived Parch
1 0        1.741573
2 1        1.471154

png
  2