# Task 1: Using R in Google Colab
##### Daniel Alonso & Ander Iturburu

## How to use R in Google Colab

Given that Google colab only has an option to use python notebooks, we have to go to a standard notebook creating URL but specifying the language as a parameter in the URL as follows:

https://colab.research.google.com/notebook#create=true&language=r

## Importing R libraries

In [ ]:
library(ggplot2)
library(dplyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

## Importing data into R

In [ ]:
data <- read.csv("forestfires.csv")

## Exploring the imported dataset

In [ ]:
head(data)

  X Y month  day  FFMC DMC  DC    ISI  temp RH wind rain area
1 7 5 mar    fri  86.2 26.2  94.3  5.1  8.2 51 6.7  0.0  0
2 7 4 oct    tue  90.6 35.4 669.1  6.7 18.0 33 0.9  0.0  0
3 7 4 oct    sat  90.6 43.7 686.9  6.7 14.6 33 1.3  0.0  0
4 8 6 mar    fri  91.7 33.3  77.5  9.0  8.3 97 4.0  0.2  0
5 8 6 mar    sun  89.3 51.3 102.2  9.6 11.4 99 1.8  0.0  0
6 8 6 aug    sun  92.3 85.3 488.0 14.7 22.2 29 5.4  0.0  0